.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  font-weight: 500;
}