.game-tabs-section {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.75rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 
              0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 1rem;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
}

.tabs-content {
  margin-top: 1rem;
}